.reports {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  min-height: calc(100vh - 62px);
  background-color: $light;

  &__header {
    display: flex;
    justify-content: space-between;

    &-wrapper {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-header,
    &-body {
      display: flex;
      justify-content: space-between;
    }
  }
}
