.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: sticky;
  width: 100%;
  bottom: 0;
  background-color: $light;
  padding: 0.5rem;
  box-shadow: 0 -4px 16px rgba($color: #000000, $alpha: 0.25);

  & a.navbar__button {
    color: $primary-color;
  }

  &__button {
    display: flex;
    border: none;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.5rem;

    &-main {
      border-radius: 50%;
      background-color: $primary-color;
      display: flex;
      padding: 0.5rem;
    }

    &.active {
      background-color: rgba($color: $primary-color-light, $alpha: 0.5);
    }
  }
}
