$primary-color: #3079d9;
$primary-color-light: #adc0d9;
$primary-color-dark: #182940;
$primary-color-hover: #4399df;
$primary-color-gradient: $primary-color, #2585d9;

$color-danger: #d95445;
$color-danger-light: #df938a;
$color-success: #768c18;
$color-success-light: #b4d91a;

$dark: #333333;
$light: #f2f2f2;
